/* CSS Document */
html {
    font-family:sans-serif;
    font-weight:100;
    font-size: 20px;
}

html, body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    width: 100%;
}

body {
    line-height: 1.5;
    font-size: 0.8rem;
    color: #505050;
    background-color: #e8e8e8;
    outline: 0;
}

html, body, header, section, footer, div, ul, ol, li, img, a, span, em, del, legend, center, strong, var, fieldset, form, label, dl, dt, dd, cite, input, hr, time, mark, code, figcaption, figure, textarea, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    border: 0;
    padding: 0;
    font-style: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

@media only screen and (min-width: 400px) {
    html {
        font-size: 21.33333333px !important;
    }
}

@media only screen and (min-width: 414px) {
    html {
        font-size: 21px !important;
    }
}

@media only screen and (min-width: 480px) {
    html {
        font-size: 25.6px !important;
    }
}

ul, li {
    list-style: none;
}

a{
    text-decoration:none;
}
