:root{
    --dark-highlight-color:#fff;
    --dark-fore-color:#ccc;
    --dark-bg-color:#333;

    --light-highlight-color:#000;
    --light-fore-color:#555;
    --light-bg-color:#fff;
    --light-input-bg-color:#f8f8f8;

    --win-bg-color:#e0e0e0;
    --border-color:#ccc;
}