:root{
    --main-bg-color:#96c;
    --main-fore-color:#fff;
    --pad-width:768px;
    
    --title-min-height:30px;
    --title-height:3em;
    --title-max-height:100px;

    --dropdown-list-height:10rem;
    --border-radius:0.25rem;
    --icon-scale:1.5em;
}