:root{
    --main-fore-color:#96f;
    --dark-highlight-color:#fff;
    --dark-fore-color:#ccc;
    --dark-bg-color:#333;
    --light-highlight-color:#000;
    --light-fore-color:#555;
    --light-bg-color:#fff;
}